header {
    background-color: darkolivegreen;
    padding: 3rem;
    border-radius: 5px;
    display: flex;
}

header nav {
    color: white;
    background-color: darkolivegreen;
    font-size: x-large;
    display: flex;
    align-items: center;
}

header li {
    list-style-type: none;
    margin: 15px;
    display: flex;
}


header a {
    color: white;
    text-decoration: none;
}


.Mike{
    display:flex;
    justify-content: flex-end;

}

footer {

}

.Mike h1{
    border: 2px solid black;
    padding: 10px;
    box-shadow: antiquewhite 3px 3px 3px;
}
.Mike ul{
    border: 2px solid black;
    box-shadow: antiquewhite 3px 3px 3px;
}

.linea{
    background-color: darkolivegreen;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    display: flex;

}


.lukas {
    text-align: center;
    background: rgb(31,77,13);
    background: linear-gradient(90deg, rgba(31,77,13,1) 0%, rgba(69,245,47,1) 100%);
    color: #edffec;
    padding: 3vh;
    font-size: 2rem;
    font-family: Roboto, sans-serif;
}

.lukas img {
    width: 20vw;
    border-radius: 10vh;
    border: .3vw solid black;
    box-shadow: 0 .5vw 4vw 0 #03110a, 0 .5vw 4vw 0 #03110a ;
}

.lukas ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
}


